
#citydealerlogo{
    max-width: 40px;
}

.logoname{
    font-size: 30px;
    color: rgb(22, 95, 39);
}
.nav-link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-link:focus{
    border-bottom: 2px solid black;
}